/* IMAGES */
.imageUpload {
    padding: 30px;
    margin-top: 50px;
    border: 4px dashed #333333;
    border-radius: 15px;
}

.info {
    font-size: 12px;
    padding-top: 5px;
    margin-bottom: 0;
}

input[type='file'] {
    display: none;
}

.fileUpload {
    border: none;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #DB9D47;
    border-radius: 25px;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    vertical-align: baseline;
    transition-duration: .3s;
}

.fileUpload svg {
    width: 18px;
    vertical-align: baseline;
    padding-right: 5px;
    margin-bottom: -1px;
}

.fileUpload:hover {
    background-color:#ffc800;
}

/* IMAGE QUALITY */
.radioGroup {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    border: none;
}

.legend {
    padding-top: 50px;
}

.radioGroup label {
    margin-right: 15px;
}

.radioGroup input {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px #333333 solid;
    transition: 0.1s all linear;
    margin-right: 10px;
    position: relative;
    top: 2.5px;
}

.radioGroup input:checked {
    border: 5px solid #cccccc;
}

/* DIMENSIONS */
.dimensions {
    padding-top: 50px;
    margin: 0;
}

.select select {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #cccccc;
    padding: 10px 30px 10px 15px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: flex-start;
    align-content:center;
    margin-top: 25px;
}

.p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 15px;
}

.text input{
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #cccccc;
    padding: 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.text input::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #cccccc;
}

.text input:focus {
    outline: none;
}